body {
  /*background-image: url(image/barnimages_pisa_09.jpg);*/
  /*background-image: url(image/P1000966.JPG);*/
  /*background-image: url(image/IMG6.jpg);*/
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Lato;
}
#addClientButton{
  margin-top: 15px;
}
#navButtons {
  font-size: 1.5rem;
  color: white;
}
#stemsLogo {
  padding-left: 10px;
  font-size: 5rem;
  color: white;
}
#deleteIcon {
  margin-left: 10px;
}
#rowSpacing {
  margin-top: 10px;
}
#boldText {
  font-weight: bold;
}
#todoBackgroundContainer {
  background-color: rgba(0,0,0,0.65);
  top: 20px;
  position: relative;
}
#signinBackgroundContainer {
  background-color: rgba(0,0,0,0.65);
}
#clientListBackgroundContainer {
  background-color: rgba(0,0,0,0.65);
}
#clientProileBackgroundContainer {
  background-color: rgba(0,0,0,0.65);
}
.navBarColor {
  background-color: rgba(0,0,0,0.65);
  /*background-color: rgba(225,225,225,0.9);*/
}
.borderBoxes {
  background-color: #FFFEC6;
  opacity: 0.5;
  width: 75%;
  height: auto;
  margin: auto;
}
.textStyle {
  color: #4D4D4D;
}
.notesContainer {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  height: auto;
  width: 100%;
}
