body {
  /*background-image: url(image/barnimages_pisa_09.jpg);*/
  /*background-image: url(image/P1000966.JPG);*/
  /*background-image: url(image/IMG6.jpg);*/
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
}
#addClientButton {
  margin-top: 15px;
}
#clientListMargin {
  margin-top: 20px;
}
#navButtons {
  font-size: 1.5rem;
  color: white;
}
#stemsLogo {
  padding-left: 10px;
  font-size: 5rem;
  color: white;
}
#deleteIcon {
  margin-left: 10px;
}
#rowSpacing {
  margin-top: 10px;
}
#boldText {
  font-weight: bold;
}
#todoSearchBar {
  margin-left: 0;
  margin-bottom: 8px;
}
#clientSearchBar {
  margin-left: 0;
  margin-bottom: 15px;
}
#todoBackgroundContainer {
  background-color: rgba(0,0,0,0.75);
  top: 20px;
  position: relative;
}
#backgroundContainer {
  background-color: rgba(0,0,0,0.75);
}
#welcomeBackgroundContainer {
  background-color: rgba(0,0,0,0.75);
  padding: 5px;
  margin-top: 20px;
}
#clientProfileBackgroundContainer {
  background-color: rgba(0,0,0,0.75);
  padding: 10px;
  margin-top: 20px;
}
#navBarColor {
  background-color: rgba(0,0,0,0.75);
  /*background-color: rgba(225,225,225,0.9);*/
}
.borderBoxes {
  background-color: #FFFEC6;
  opacity: 0.5;
  width: 75%;
  height: auto;
  margin: auto;
}
.textStyle {
  color: #4D4D4D;
}
.notesContainer {
  color: white
  padding: 5px;
  height: auto;
  width: 100%;
}
