<!-- CLIENTS UI VIEW -->
<div id="clientListMargin" ng-init="cCtrl.clientsInit()">
  <div class="row" id="backgroundContainer">
    <div class="col s12">
      <h3 class="white-text">Client List</h3>
      <a class="waves-effect waves-light btn modal-trigger white-text deep-orange accent-3" href="#modal1">+ Add Client</a>
  <div class="row" id="clientSearchBar">
    <div class="col s6 white" id="addClientButton">
      <input type="text" placeholder="Search" ng-model="clientSearch">
    </div>
  </div>

  <!-- ========================= -->
  <!-- New client modal content  -->
  <!-- ========================= -->
  <form class="col s12" ng-submit="cCtrl.createNewClient(cCtrl.newClient)">
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>New Client</h4>
        <div class="row">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate" ng-model="cCtrl.newClient.firstName">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" ng-model="cCtrl.newClient.lastName">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="email" type="email" class="validate" ng-model="cCtrl.newClient.email">
              <label for="email">Email</label>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="icon_telephone" type="tel" class="validate" ng-model="cCtrl.newClient.phoneNumber">
                <label for="icon_telephone">Phone Number</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="street_address" type="text" class="validate" ng-model="cCtrl.newClient.address">
              <label for="street_address">Street Address</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="disabled" type="text" class="validate" ng-model="cCtrl.newClient.city">
              <label for="disabled">City</label>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="text" class="validate" ng-model="cCtrl.newClient.state">
                <label for="password">State</label>
              </div>
              <div class="input-field col s6">
                <input id="password" type="text" class="validate" ng-model="cCtrl.newClient.zipCode">
                <label for="password">Zip Code</label>
              </div>
              <div>
                <div class="input-field col s6">
                  <input id="password" type="text" class="validate" ng-model="cCtrl.newClient.doorCode">
                  <label for="password">Door Code</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" name="button" class=" modal-action modal-close waves-effect waves-green btn-flat white-text deep-orange accent-3">Submit</button>
      </div>
    </div>
  </form>

  <!-- ===================== -->
  <!-- Client List ng-repeat -->
  <!-- ===================== -->
  <div class="collection">
    <a ng-repeat="c in cCtrl.clients | orderBy : 'lastName' | filter : clientSearch" ng-click='cCtrl.getSingleClient(c._id)' href="" class="collection-item active black-text white">{{c.firstName}} {{c.lastName}}</a>
  </div>
</div>
</div>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
