<!-- CLIENT PROFILE UI VIEW -->

<div class="textStyle" ng-init="cCtrl.clientInit()">
</div>
<div class="row" id="clientProfileBackgroundContainer">
  <h3 class="white-text" style="margin-top: 0;">{{cCtrl.client.firstName}} {{cCtrl.client.lastName}}</h3>

  <!-- Green Sheet modal trigger  -->
  <a style="margin-top: 5px;" class="waves-effect waves-light btn modal-trigger white-text deep-orange accent-3" href="#modal2">Green Sheet +</a>

  <!-- Edit information modal trigger -->
  <a style="margin-top: 5px;" class="waves-effect waves-light btn modal-trigger white-text deep-orange accent-3" href="#modal3"><i class="material-icons right white-text" id="deleteIcon">info_outline</i>Edit</a>

  <!-- Delete Button -->
  <a style="margin-top: 5px;" class="waves-effect waves-light btn white-text deep-orange accent-3" ng-click="cCtrl.removeClient(id)"><i class="material-icons right white-text" id="deleteIcon">delete</i>Delete</a>

  <!-- ========================= -->
  <!-- Page content: Client info -->
  <!-- ========================= -->
  <div class="row white-text" id="rowSpacing">
    <div class="col s6">
      <i class="material-icons prefix">email</i>
      <h6>Address:</h6>
      <h6>{{cCtrl.client.address}} {{cCtrl.client.city}}, {{cCtrl.client.state}} {{cCtrl.client.zipCode}}</h6>
    </div>
    <div class="col s6">
      <i class="material-icons prefix">email</i>
      <h6>Phone:</h6>
      <h6>{{cCtrl.client.phoneNumber}}</h6>
    </div>
  </div>
  <div class="row white-text">
    <div class="col s6">
      <i class="material-icons prefix">account_circle</i>
      <h6>Email:</h6>
      <h6>{{cCtrl.client.email}}</h6>
    </div>
    <div class="col s6">
      <i class="material-icons prefix">phone</i>
      <h6>Door Code:</h6>
      <h6>{{cCtrl.client.doorCode}}</h6>
    </div>
    <div map-lazy-load="https://maps.google.com/maps/api/js">
      <ng-map center="41,-87" zoom="3"></ng-map>
    </div>
  </div>

  <!-- ================================== -->
  <!-- ========= Property notes ========= -->
  <!-- ================================== -->
  <div class="row">
    <div class="col s12">
      <div class="notesContainer">
        <h5 class="white-text">Property Notes:</h5>
        <div class="propNoteStyle">
          <ul class="collection">
            <li class="collection-item" ng-repeat="note in cCtrl.client.propNote">{{note}} <a href="" ng-click="cCtrl.removePropNote(note, cCtrl.client)"><i class="material-icons black-text right">delete</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form class="col s12" ng-submit="cCtrl.addPropNote(cCtrl.client)">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea white-text" ng-model="cCtrl.newPropNote"></textarea>
          <label for="textarea1">New Property Note</label>
          <button class="btn waves-effect waves-light white-text deep-orange accent-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- ============================= -->
  <!-- ========= Add to-do ========= -->
  <!-- ============================= -->
  <div class="row">
    <form class="col s12" ng-submit="cCtrl.addTodo(cCtrl.todo, cCtrl.client)">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea white-text" ng-model="cCtrl.todo"></textarea>
          <label for="textarea1">New To-Do</label>
          <button class="btn waves-effect waves-light white-text deep-orange accent-3" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<!-- ============================================= -->
<!-- =============End of Page Content============  -->
<!-- ============================================= -->

<!-- =================== -->
<!-- Edit client modal   -->
<!-- =================== -->
<form class="col s12" ng-submit="cCtrl.editClient(cCtrl.client)">
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Edit Info</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" placeholder="First Name" ng-model="cCtrl.client.firstName">
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" placeholder="Last Name" ng-model="cCtrl.client.lastName">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate" placeholder="Email" ng-model="cCtrl.client.email">
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="icon_telephone" type="tel" class="validate" placeholder="Phone" ng-model="cCtrl.client.phoneNumber">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="street_address" type="text" class="validate" placeholder="Street Address" ng-model="cCtrl.client.address">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="disabled" type="text" class="validate" placeholder="City" ng-model="cCtrl.client.city">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="State" ng-model="cCtrl.client.state">
            </div>
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="Zip" ng-model="cCtrl.client.zipCode">
            </div>
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="Door Code" ng-model="cCtrl.client.doorCode">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" name="button" class="modal-action modal-close waves-effect waves-green btn-flat white-text deep-orange accent-3">Submit</button>
    </div>
  </div>
</form>
<!-- ================== -->
<!-- End client modal   -->
<!-- ================== -->


<!-- ========================= -->
<!-- Green sheet modal content -->
<!-- ========================= -->
<div id="modal2" class="modal">
  <form class="col s12" ng-submit='cCtrl.addGreenSheet(cCtrl.newGreenSheet, cCtrl.client)'>
    <div class="modal-content">
      <h4 class="black-text">Green Sheet</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <p>Today's Date</p>
            <input type="date" class="datepicker" ng-model="cCtrl.newGreenSheet.date">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>Begin Time</p>
            <input id="last_name" type="time" class="validate" ng-model="cCtrl.newGreenSheet.beginTime">
          </div>
          <div class="row">
            <div class="input-field col s6">
              <p>End Time</p>
              <input id="disabled" type="time" class="validate" ng-model="cCtrl.newGreenSheet.endTime">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="validate" placeholder="Team" ng-model="cCtrl.newGreenSheet.team">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>Walk-Through Start</p>
            <input id="first_name" type="time" class="validate" ng-model="cCtrl.newGreenSheet.walkThroughStart">
          </div>
          <div class="input-field col s6">
            <p>Walk-Through End</p>
            <input id="last_name" type="time" class="validate" ng-model="cCtrl.newGreenSheet.walkThroughEnd">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="input-field col s12">
              <input id="disabled" type="text" class="validate" placeholder="Trash Amount" ng-model="cCtrl.newGreenSheet.trash">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Front Bed Notes" ng-model="cCtrl.newGreenSheet.frontNotes">
          </div>
        </div>
        <!-- Front Bed Dropdown=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.frontOptions" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Weeded">Weeded</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Dead Headed">Dead Headed</option>
            <option value="Insecticide">Insecticide</option>
            <option value="Fertilized">Fertilized</option>
            <option value="Trimmed">Trimmed</option>
            <option value="Edged">Edged</option>
            <option value="Swept/Blown">Swept/Blown</option>
            <option value="Look up">Look up</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Back Bed Notes" ng-model="cCtrl.newGreenSheet.backNotes">
          </div>
        </div>
        <!-- Back Bed Dropdown=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.backOptions" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Weeded">Weeded</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Dead Headed">Dead Headed</option>
            <option value="Insecticide">Insecticide</option>
            <option value="Fertilized">Fertilized</option>
            <option value="Trimmed">Trimmed</option>
            <option value="Edged">Edged</option>
            <option value="Swept/Blown">Swept/Blown</option>
            <option value="Look up">Look up</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Side Bed Notes" ng-model="cCtrl.newGreenSheet.sideNotes">
          </div>
        </div>
        <!-- Side Bed Dropdown-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.sideOptions" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Weeded">Weeded</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Dead Headed">Dead Headed</option>
            <option value="Insecticide">Insecticide</option>
            <option value="Fertilized">Fertilized</option>
            <option value="Trimmed">Trimmed</option>
            <option value="Edged">Edged</option>
            <option value="Swept/Blown">Swept/Blown</option>
            <option value="Look up">Look up</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Annuals Notes" ng-model="cCtrl.newGreenSheet.annualsNotes">
          </div>
        </div>
        <!-- Annuals Dropdown-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.annualsOptions" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Weeded">Weeded</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Dead Headed">Dead Headed</option>
            <option value="Insecticide">Insecticide</option>
            <option value="Fertilized">Fertilized</option>
            <option value="Trimmed">Trimmed</option>
            <option value="Edged">Edged</option>
            <option value="Swept/Blown">Swept/Blown</option>
            <option value="Look up">Look up</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Tree/Shrub Notes" ng-model="cCtrl.newGreenSheet.treeNotes">
          </div>
        </div>
        <!-- Trees/Shrubs Dropdown-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.treeOptions" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Weeded">Weeded</option>
            <option value="Cultivated">Cultivated</option>
            <option value="Dead Headed">Dead Headed</option>
            <option value="Insecticide">Insecticide</option>
            <option value="Fertilized">Fertilized</option>
            <option value="Trimmed">Trim</option>
            <option value="Edged">Edged</option>
            <option value="Swept/Blown">Swept/Blown</option>
            <option value="Look up">Look up</option>
          </select>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Focus this trip" ng-model="cCtrl.newGreenSheet.tripFocus">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Client Questions" ng-model="cCtrl.newGreenSheet.questions">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Special Notes" ng-model="cCtrl.newGreenSheet.specialNote">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Materials Used" ng-model="cCtrl.newGreenSheet.materials">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="Sprinkler/Irrigation" ng-model="cCtrl.newGreenSheet.irrigation">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" placeholder="'Oh, this would look so much better' ideas!" ng-model="cCtrl.newGreenSheet.ideas">
          </div>
        </div>
        <!-- Picture worthy Dropdown-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        <div class="input-field col s12 browser-default">
          <select multiple ng-model="cCtrl.newGreenSheet.pictureWorthy" material-select watch>
            <option value="" disabled selected>Choose your option</option>
            <option value="Yes">Yes</option>
            <option value="Not Yes">Not yet</option>
          </select>
          <label>Picture Worthy?</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input href="" type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat white-text deep-orange accent-3">
      <a href="" style="margin-right: 2px;" class=" modal-action modal-close waves-effect waves-green btn-flat white-text deep-orange accent-3">Close</a>
    </div>
  </form>
</div>
<!-- ===================== -->
<!-- End Green Sheet Modal -->
<!-- ===================== -->



<!-- ================ -->
<!-- JQuery for Modal -->
<!-- ================ -->
<script type="text/javascript">
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  // Initialize the select dropdown
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
