<!-- CLIENT PROFILE UI VIEW -->

<div class="textStyle" >
</div>
<div class="row" id="clientProileBackgroundContainer">
  <h2 class="white-text">{{cCtrl.client.firstName}} {{cCtrl.client.lastName}}</h2>

  <!-- ========================== -->
  <!-- Green Sheet modal trigger  -->
  <!-- ========================== -->
  <a class="waves-effect waves-light btn modal-trigger black-text white" href="#modal2">Green Sheet   +</a>

  <!-- ============================== -->
  <!-- Edit information modal trigger -->
  <!-- ============================== -->
  <a class="waves-effect waves-light btn modal-trigger black-text white" href="#modal3"><i class="material-icons right black-text" id="deleteIcon">info_outline</i>Edit</a>

  <!-- ============= -->
  <!-- Delete Button -->
  <!-- ============= -->
  <a class="waves-effect waves-light btn black-text white" ng-click="cCtrl.removeClient(id)"><i class="material-icons right black-text" id="deleteIcon">delete</i>Delete</a>

  <!-- ========================= -->
  <!-- Page content: Client info -->
  <!-- ========================= -->
  <div class="row" id="rowSpacing">
    <div class="col s6">
      <i class="material-icons prefix">email</i>
      <h6>Address:</h6>
      <h6 id="boldText">{{cCtrl.client.address}} {{cCtrl.client.city}}, {{cCtrl.client.state}} {{cCtrl.client.zipCode}}</h6>
    </div>
    <div class="col s6">
      <i class="material-icons prefix">email</i>
      <h6>Phone:</h6>
      <h6>{{cCtrl.client.phoneNumber}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <i class="material-icons prefix">account_circle</i>
      <h6>Email:</h6>
      <h6>{{cCtrl.client.email}}</h6>
    </div>
    <div class="col s6">
      <i class="material-icons prefix">phone</i>
      <h6>Door Code:</h6>
      <h6>{{cCtrl.client.doorCode}}</h6>
    </div>
  </div>

  <!-- ========= Property notes ========= -->
  <div class="row">
    <div class="col s12">
      <div class="notesContainer">
        <h5>Property Notes:</h5>
        <div class="propNoteStyle">
          <ul class="collection">
            <li class="collection-item" ng-repeat="note in cCtrl.client.propNote">{{note}} <a href="" ng-click="cCtrl.removePropNote(note, cCtrl.client)"><i class="material-icons black-text right">delete</i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form class="col s12" ng-submit="cCtrl.addPropNote(cCtrl.client)">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="cCtrl.client.newPropNote"></textarea>
          <label for="textarea1">New Property Note</label>
          <button class="btn-tiny waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- ========= Add to-do ========= -->
  <div class="row">
    <form class="col s12" ng-submit="cCtrl.addTodo(cCtrl.todo, cCtrl.client)">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="cCtrl.todo"></textarea>
          <label for="textarea1">New To-Do</label>
          <button class="btn-tiny waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<!-- ======================== -->
<!-- ==End of Page Content==  -->
<!-- ======================== -->

<!-- ======================== -->
<!-- Edit client info modal   -->
<!-- ======================== -->
<form class="col s12" ng-submit="cCtrl.editClient(cCtrl.client)">
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Edit Info</h4>
      <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" placeholder="First Name" ng-model="cCtrl.client.firstName">
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" placeholder="Last Name" ng-model="cCtrl.client.lastName">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate" placeholder="Email" ng-model="cCtrl.client.email">
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="icon_telephone" type="tel" class="validate" placeholder="Phone" ng-model="cCtrl.client.phoneNumber">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="street_address" type="text" class="validate" placeholder="Street Address" ng-model="cCtrl.client.address">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="disabled" type="text" class="validate" placeholder="City" ng-model="cCtrl.client.city">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="State" ng-model="cCtrl.client.state">
            </div>
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="Zip" ng-model="cCtrl.client.zipCode">
            </div>
            <div class="input-field col s6">
              <input id="password" type="text" class="validate" placeholder="Door Code" ng-model="cCtrl.client.doorCode">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" name="button" class="modal-action modal-close waves-effect waves-green btn-flat black-text white">Submit</button>
    </div>
  </div>
</form>

<!-- ========================= -->
<!-- Green sheet modal content -->
<!-- ========================= -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4 class="black-text">Green Sheet</h4>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input id="date" type="text" class="validate">
            <label for="date" placeholder="Date">Date</label>
          </div>
          <div class="input-field col s4">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Begin Time</label>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <input id="disabled" type="text" class="validate">
              <label for="disabled">End Time</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Team</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Walk-Through Start</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Walk-Through End</label>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="input-field col s12">
              <input id="disabled" type="text" class="validate">
              <label for="disabled">Trash Amount</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Front Bed Notes</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Front Bed Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Weeded</option>
            <option value="2">Cultivate</option>
            <option value="3">Dead Head</option>
            <option value="3">Insecticide</option>
            <option value="3">Fertilize</option>
            <option value="3">Trim</option>
            <option value="3">Edge</option>
            <option value="3">Sweep/Blow</option>
            <option value="3">Look up</option>
          </select>
          <label>ACTION: Front Bed</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Back Bed Notes</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Back Bed Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Weeded</option>
            <option value="2">Cultivate</option>
            <option value="3">Dead Head</option>
            <option value="3">Insecticide</option>
            <option value="3">Fertilize</option>
            <option value="3">Trim</option>
            <option value="3">Edge</option>
            <option value="3">Sweep/Blow</option>
            <option value="3">Look up</option>
          </select>
          <label>ACTION: Back Bed</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Side Bed Notes</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Side Bed Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Weeded</option>
            <option value="2">Cultivate</option>
            <option value="3">Dead Head</option>
            <option value="3">Insecticide</option>
            <option value="3">Fertilize</option>
            <option value="3">Trim</option>
            <option value="3">Edge</option>
            <option value="3">Sweep/Blow</option>
            <option value="3">Look up</option>
          </select>
          <label>ACTION: Side Bed</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Annuals Notes</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Annuals Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Weeded</option>
            <option value="2">Cultivate</option>
            <option value="3">Dead Head</option>
            <option value="3">Insecticide</option>
            <option value="3">Fertilize</option>
            <option value="3">Trim</option>
            <option value="3">Edge</option>
            <option value="3">Sweep/Blow</option>
            <option value="3">Look up</option>
          </select>
          <label>ACTION: Annuals</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Tree/Shrub Notes</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Trees/Shrubs Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Weeded</option>
            <option value="2">Cultivate</option>
            <option value="3">Dead Head</option>
            <option value="3">Insecticide</option>
            <option value="3">Fertilize</option>
            <option value="3">Trim</option>
            <option value="3">Edge</option>
            <option value="3">Sweep/Blow</option>
            <option value="3">Look up</option>
          </select>
          <label>ACTION: Trees/Shrubs</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Focus this trip</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">To-Do</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Client Questions</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Special Notes</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Materials Used</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">Sprinkler/Irrigation</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate">
            <label for="email">"Oh, that would look so much better" ideas!</label>
          </div>
        </div>
        <!-- ======================== -->
        <!-- Picture worthy Dropdown -->
        <!-- FOR BACK END: 'material-select watch' for back-end submission and possibly bring in angular materialize file -->
        <!-- ======================== -->
        <div class="input-field col s12 browser-default">
          <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Yes</option>
            <option value="2">Not yet</option>
          </select>
          <label>Picture Worthy?</label>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat black-text white">Submit</a>
  </div>
</div>
<!-- ======================== -->
<!-- End of Modal Content -->
<!-- ======================== -->



<!-- ======================== -->
<!-- JQuery for Modal -->
<!-- ======================== -->
<script type="text/javascript">
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  // Initialize the select dropdown
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
