<!-- TO-DO UI VIEW -->

<div class="row" id="todoBackgroundContainer" ng-init="cCtrl.init()">
  <div class="col s12">
    <div class="row" id="todoSearchBar">
      <h3 class="white-text">To-Do</h3>
      <a class="waves-effect waves-light btn modal-trigger white-text deep-orange accent-3" href="#modal3">+ To-Do</a>

      <!-- Start to-do modal content-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-  -->
      <div id="modal3" class="modal">
        <form class="col s12" ng-submit="cCtrl.addTodo(cCtrl.newToDo, cCtrl.client)">
        <div class="modal-content">
          <h4 class="black-text">Add To-Do</h4>
          <div class="row">

              <div class="row">
                <div class="input-field col s12">
                  <input id="date" type="text" class="validate" placeholder="Description" ng-model="cCtrl.newToDo">
                </div>
              </div>
              <!-- Client Dropdown=-=-=-=-=-=-=-=-=- -->
              <div class="input-field col s12 browser-default">
                <select ng-model="cCtrl.client" material-select watch>
                  <option value="{{c._id}}" ng-repeat="c in cCtrl.clients | orderBy : 'lastName'">{{c.firstName}} {{c.lastName}}</option>
                </select>
                <label>Client Select</label>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="submit"class=" modal-action modal-close waves-effect waves-green btn-flat black-text white">
        </div>
      </form>
      </div>

<!-- ======================== -->
<!-- End to-do modal content  -->
<!-- ======================== -->


      <!-- =================== -->
      <!-- To-do page content  -->
      <!-- =================== -->
      <div class="row" id="todoSearchBar">
        <div class="col s6 white" id="addClientButton">
          <input type="text" placeholder="Search" ng-model="todoSearch">
        </div>
      </div>
    </div>
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="t in cCtrl.todos| filter : todoSearch">
        <img src="css/image/houseicon.png" alt="trowel" class="circle">
        <p id="boldText">{{t.client.firstName}} {{t.client.lastName}}</p>
        <p>{{t.description}}</p>
        <a href="" ng-click="cCtrl.removeToDo(t)" class="secondary-content"><i class="material-icons black-text">delete</i></a>
      </li>
    </ul>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
